# Caminhos das pastas com planilhas raw
# Copie este arquivo para .env e ajuste os caminhos conforme sua maquina.

PASTA_FINANCEIRO=D:\PROJETOS\Hamburgueria_BlackBull\data\raw\Financeiro
PASTA_MARKETING=D:\PROJETOS\Hamburgueria_BlackBull\data\raw\Marketing
PASTA_PEDIDOS=D:\PROJETOS\Hamburgueria_BlackBull\data\raw\Pedidos
PASTA_REDESSOCIAIS=D:\PROJETOS\Hamburgueria_BlackBull\data\raw\RedesSociais

